*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

                                /* desktop apps */
.dsk-top {
    position: absolute;
    width: 100%;
}
.dsk-top-bg {
    background-image: url(./image/default_bg-dsk-top.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

}
.dsk-top-apps{
    display: flex;
    flex-direction: column;
    width: 100px;
    justify-content: center;
    gap: 20px;
}
.dsk-top-apps > .first-app, .dsk-top-apps > .second-app {
    background-repeat: no-repeat;
    background-size: contain;
    height: 60px;
    width: 80px;
    
}

.dsk-top-apps > .first-app {
    background-image: url(./image/bin.png);
    width: 60px;
    margin: 10px;
}
.dsk-top-apps > .first-app::after {
    content: 'Recycle Bin';
    font-size: 11px;
    position: absolute;
    top: 70px;
    
}

.dsk-top-apps > .second-app {
    background-image: url(./image/edge.png);

} 
.dsk-top-apps > .second-app::after {
    content: 'Microsoft Edge';
    font-size: 11px;
    position: absolute;
    top: 150px;
    left: 10px;
      
}

                                /* taskbar */
.taskbar {
    position: absolute;
    bottom: 0;
    background-color: rgba(199, 214, 247, 0.952);
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.bar-center {
    display: flex;
    align-items: center;
    gap: 15px;
}
.bar-center img{
    width: 30px;
    height: auto;

}










                            /* start menu */


